{{ define "base" }}
<html data-theme="light">
<head>
    <title>EthPay Server</title>
    <link href="/css/pico.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
<nav class="container-fluid">
    <ul>
        <li><a href="./" class="contrast" onclick="event.preventDefault()"><strong>EPS</strong></a></li>
        <li>EThPay Server</li>
    </ul>
</nav>
<main class="main container" id="app">
    <aside>
        <nav>
            <details open="">
                <summary>Panel</summary>
                <ul>
                    <li>
                        <a href="/admin/dashboard">Dashboard</a>
                    </li>
                    <li>
                        <router-link to="/hd-wallet">HD-Wallet</router-link>
                    </li>
                    <li>
                        <router-link to="/hd-wallet/add">HD-Wallet List</router-link>
                    </li>
                    <li>
                        <router-link to="/22">Go to Foo</router-link>
                    </li>
                    <li>
                        <a href="/admin/transactions">Transactions</a>
                    </li>
                    <li>
                        <a href="/admin/hd-wallets">HD Wallets</a>
                    </li>
                    <li>
                        <a href="/admin/security">Security</a>
                    </li>
                </ul>
            </details>
        </nav>
    </aside>

    <div role="document" style="overflow: scroll">
        <router-view></router-view>
    </div>
</main>
</body>
<script src="/js/vue.min.js"></script>
<script src="/js/vue-router.js"></script>
<script src="/js/api.js"></script>
<script src="/js/app.js"></script>
</html>
{{ end }}
